.loadout-weapon-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d7d7d7ff;
    padding: 10px;
    border-radius: 8px;
}

.loadout-weapon-list-item-settings-list {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.loadout-weapon-list-item-setting-input-lable {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.loadout-weapon-ammo-count-input {
    width: 30%;
}

.loadout-weapon-list-item-img {
    width: 100%;
    height: 50px;
    object-fit: scale-down;
    padding: 10px;
    border-radius: 8px;
}

.loadout-weapon-list-item-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.loadout-weapon-list-item-info-text {
    align-self: center;
    display: flex;
    flex-direction: column;
}

.weapon-list-item-remove-btn {
    padding: 6px;
    align-self: end;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
}

.loadout-weapon-reorder-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;

    button {
        width: 100%;
    }
}
