.main-content {
    flex: 3;
    background-color: #fff;
    padding: 20px;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.main-content-navbar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content-navbar-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.loadout-weapons-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px;
    gap: 1rem;
}
