.main-content {
    flex: 3;
    background-color: #fff;
    padding: 20px;
    max-height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
}

.main-content-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}

.dirty-state-indicator {
    font-style: italic;
    font-weight: bold;
    color: #d97706;
}

.main-content-navbar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-content-navbar-saved-loadout-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.main-content-navbar-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.loadout-weapons-list {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 1rem;
}

.main-content-xml-output-dialog {
    position: fixed;
    /* Positions relative to the viewport */
    top: 50%;
    /* Moves the top edge to the middle of the screen */
    left: 50%;
    /* Moves the left edge to the middle of the screen */
    transform: translate(-50%, -50%);
    /* Shifts the element back by half its own width/height to center it perfectly */
    background-color: #d7d7d7ff;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.main-content-xml-output-dialog-header {
    display: flex;
    justify-content: space-between;
}

.main-content-xml-output-dialog button {
    padding: 1rem;
}

.main-content-xml-textarea {
    width: 600px;
    height: 300px;
    resize: none;
}
